{
  "installed": {
    "_comment" : "GO TO https://console.developers.google.com/apis/credentials?project=sdap-ingestion-management THEN CLIENT CREATE CREDENTIALS > OAUTH CLIENT ID > DESKTOP APPLICATION, USE ID/SECRET PROVIDED",
    "client_id": "<your client id>",
    "client_secret": "<your client secret>",
    "redirect_uris": [],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}